In [2]:
import torchhd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from HDDB import HDDB
from functools import partial

In [3]:
import sys
sys.path.append('../')
from shared_code.helpers import similarity_func_partial

### Loading the dataset

In [4]:
df = pd.read_csv('data/addresses.csv')
# strip whitespace from all values
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
# df = df.drop(columns=['address', 'zip'])
df = df.drop(columns=['address'])
print(df.dtypes)
# change order of columns
df = df[['zip', 'city', 'state' , 'fname', 'lname']]
df

fname    object
lname    object
city     object
state    object
zip       int64
dtype: object

     zip          city state    fname     lname
0   8075     Riverside    NJ     John       Doe
1   9119  Philadelphia    PA     Jack  McGinnis
2   8075     Riverside    NJ     John    Repici
3  91234   Sioux Falls    SD  Stephen     Tyler
4    298   Sioux Falls    SD     John  Blankman
5    123        Denver    CO     Joan      Anne
6   8075     Riverside    NJ     Jack    Repici
7   9119  Philadelphia    PA    Lilly    Repici

### Extending the dataset

In [5]:
all_states_df = pd.read_csv('data/states.csv')
all_states_df.columns = all_states_df.columns.str.strip().str.lower()
print(len(all_states_df['abbreviation'].unique()))
all_cities_df = pd.read_csv('data/us-cities-top-1k.csv')
all_cities_df.columns = all_cities_df.columns.str.strip().str.lower()


all_cities_df['abbreviation'] = all_cities_df['state'].apply(lambda x: all_states_df[all_states_df['state'] == x]['abbreviation'].values[0])
print(len(all_cities_df['abbreviation'].unique()))
all_cities_df.head()
print(all_cities_df[all_cities_df['abbreviation'] == 'UT'])

51
51
                 city state  population        lat         lon abbreviation
31              Logan  Utah       48913  41.736980 -111.833836           UT
193      South Jordan  Utah       59366  40.562170 -111.929658           UT
285         Bountiful  Utah       43023  40.889390 -111.880771           UT
381             Provo  Utah      116288  40.233844 -111.658534           UT
434      Spanish Fork  Utah       36956  40.114955 -111.654923           UT
440      Taylorsville  Utah       60519  40.667725 -111.938826           UT
466          Riverton  Utah       40921  40.521893 -111.939102           UT
500              Lehi  Utah       54382  40.391617 -111.850766           UT
533             Ogden  Utah       84249  41.223000 -111.973830           UT
568            Layton  Utah       70790  41.060222 -111.971053           UT
603            Murray  Utah       48612  40.666892 -111.887991           UT
630             Sandy  Utah       90231  40.564978 -111.838973           UT
673  West Valley City  Utah      133579  40.691613 -112.001050           UT
676              Orem  Utah       91648  40.296898 -111.694648           UT
737               Roy  Utah       37733  41.161611 -112.026331           UT
762            Draper  Utah       45285  40.524671 -111.863823           UT
856        St. George  Utah       76817  37.096528 -113.568416           UT
955       West Jordan  Utah      110077  40.609670 -111.939103           UT
964    Salt Lake City  Utah      191180  40.760779 -111.891047           UT

In [6]:
def generate_random_rows(n=1000, city_state_relation=False):
    
    def random_names(n, name_len=10):
        return [''.join(np.random.choice(list('abcdefghijklmnopqrstuvwxyz'), name_len, replace=True)) for i in range(n)]
    
    new_df = pd.DataFrame()
    new_df['fname'] = random_names(n,6)
    new_df['lname'] = random_names(n,6)
    new_df['state'] = np.random.choice(all_states_df['abbreviation'].values, n, replace=True)
    new_df['zip'] = np.random.randint(10000, 99999, n)
    if city_state_relation:
        new_df['city'] = new_df['state'].apply(lambda x: np.random.choice(all_cities_df[all_cities_df['abbreviation'] == x]['city'].values, 1)[0])
    else:
        new_df['city'] = np.random.choice(all_cities_df['city'].values, n, replace=True)

    return new_df

print(generate_random_rows(10, city_state_relation=True))

    fname   lname state    zip             city
0  lpiibz  zzktxo    OK  59341     Midwest City
1  qphapk  nfpdvd    OR  85552        Hillsboro
2  ezggop  hoqarg    MA  88635          Chelsea
3  plicgn  rcklra    NM  47561          Roswell
4  lelfnc  ntyvnv    RI  54398  East Providence
5  vvbbol  dcxgzf    CA  94365      San Leandro
6  olwyaj  uhfobs    GA  23152      Johns Creek
7  dhbwoc  dcgiyp    AR  50606       Pine Bluff
8  gexyfs  ctwkdc    TX  90229           Conroe
9  tgzsce  sebjli    TX  33669          Midland

In [7]:
# add random rows to the dataframe
random_df = generate_random_rows(1000)
print(random_df.shape)
df = pd.concat([df, random_df], ignore_index=True)
#set all column types to object
df = df.astype(str)

(1000, 5)

In [8]:
df.sample(10)

       zip              city state   fname   lname
913  68714            Skokie    IL  zgzjeb  psbpan
220  36699              Troy    CA  djwyzl  aigbif
227  84364  Rancho Cucamonga    NY  zobehv  czrzrx
693  54261           Concord    IN  wfuktm  zkiysv
937  52309   West Palm Beach    NM  alldan  lcmctz
777  59189     State College    WI  sgaxoo  oqgtma
594  56614     Santa Barbara    MN  zttzim  htuloe
137  33990       San Gabriel    MN  pdjfed  totaep
774  60817         La Crosse    ID  wxfnqc  qztdhl
87   76023      Sierra Vista    WY  hzzqcz  hveupr

In [9]:
exp_dim = 10_000
exp_vsa_type = "BSC"
sim_func = partial(similarity_func_partial, exp_vsa_type)
hdDB = HDDB(dim=exp_dim, vsa_type=exp_vsa_type)

In [10]:
hdDB.set_columns(df.columns)

In [11]:
for index, row in df.iterrows():
    values = row.values
    hdDB.add_row(index, values)

In [12]:
#https://docs.google.com/presentation/d/176_bmMfthBgrO6lBczBlgU4PAC59qf8rWUHNmKoVtLo/edit#slide=id.g226b508b046_0_20

print(hdDB.similiraity_cutoff(0.3))
print(hdDB.similiraity_cutoff(0.5))
print(hdDB.similiraity_cutoff(0.6))
print(hdDB.similiraity_cutoff(0.9))
print(hdDB.similiraity_cutoff(0.95))
print(hdDB.similiraity_cutoff(0.99))

0.689930661430611
0.6875
0.6863257047481339
0.6815598495115457
0.6798758993876929
0.67671708901005

In [13]:
vec_NJ = hdDB.columns['state']['NJ']
query_vec_NJ = torchhd.bind(hdDB.columns['state'].atomic_vector, vec_NJ)
results = hdDB.most_similar_rows(query_vec_NJ, 200)
print(results)
print()
with pd.option_context('display.max_rows', None,):
  print(df.iloc[[t[0] for t in results]])

[(518, 0.6984999775886536), (337, 0.6970000267028809), (382, 0.6944000124931335), (242, 0.692799985408783), (783, 0.6919000148773193), (814, 0.6916000247001648), (15, 0.6909000277519226), (859, 0.6899999976158142), (356, 0.6886000037193298), (25, 0.6884999871253967), (603, 0.6880999803543091), (544, 0.6877999901771545), (290, 0.6872000098228455), (576, 0.6869000196456909), (811, 0.6866999864578247), (793, 0.6866999864578247), (561, 0.6854000091552734), (328, 0.6851999759674072), (744, 0.6850000023841858), (22, 0.6850000023841858), (587, 0.684499979019165), (229, 0.683899998664856), (717, 0.6837999820709229), (385, 0.6837000250816345), (292, 0.6833999752998352), (6, 0.6833000183105469), (411, 0.6822999715805054), (2, 0.6819999814033508), (0, 0.6819000244140625), (837, 0.6807000041007996), (465, 0.6777999997138977), (875, 0.5138000249862671), (991, 0.5134000182151794), (498, 0.5131999850273132), (533, 0.5123999714851379), (320, 0.5120999813079834), (922, 0.511900007724762), (591, 0.511900007724762), (365, 0.5117999911308289), (773, 0.5117999911308289), (720, 0.5117999911308289), (895, 0.5116999745368958), (233, 0.5113999843597412), (589, 0.5112000107765198), (1001, 0.5110999941825867), (593, 0.5109999775886536), (775, 0.5109999775886536), (651, 0.5108000040054321), (37, 0.5108000040054321), (452, 0.5108000040054321), (72, 0.510699987411499), (519, 0.510699987411499), (987, 0.5105000138282776), (202, 0.5103999972343445), (404, 0.5102999806404114), (71, 0.5102999806404114), (675, 0.5101000070571899), (967, 0.5101000070571899), (79, 0.5101000070571899), (427, 0.5099999904632568), (319, 0.5098999738693237), (321, 0.5098999738693237), (33, 0.5098999738693237), (495, 0.5097000002861023), (506, 0.5095000267028809), (842, 0.5095000267028809), (553, 0.5094000101089478), (194, 0.5094000101089478), (699, 0.5092999935150146), (669, 0.5092999935150146), (204, 0.5092999935150146), (582, 0.5092999935150146), (471, 0.5091999769210815), (971, 0.5091000199317932), (222, 0.5090000033378601), (77, 0.5090000033378601), (377, 0.5090000033378601), (713, 0.5090000033378601), (825, 0.5088000297546387), (487, 0.5088000297546387), (496, 0.5088000297546387), (327, 0.5087000131607056), (790, 0.5087000131607056), (340, 0.5087000131607056), (854, 0.5087000131607056), (164, 0.5087000131607056), (155, 0.5085999965667725), (730, 0.5084999799728394), (594, 0.508400022983551), (1000, 0.508400022983551), (677, 0.5083000063896179), (556, 0.5083000063896179), (826, 0.5083000063896179), (241, 0.5081999897956848), (457, 0.5081999897956848), (798, 0.5081999897956848), (950, 0.5081999897956848), (299, 0.5081999897956848), (839, 0.5080999732017517), (198, 0.5080999732017517), (401, 0.5080999732017517), (805, 0.5080000162124634), (281, 0.5080000162124634), (261, 0.5080000162124634), (415, 0.5080000162124634), (463, 0.5080000162124634), (174, 0.5078999996185303), (305, 0.5076000094413757), (450, 0.5076000094413757), (924, 0.5076000094413757), (955, 0.5074999928474426), (873, 0.5073999762535095), (499, 0.5072000026702881), (751, 0.5072000026702881), (693, 0.5072000026702881), (683, 0.5072000026702881), (612, 0.507099986076355), (615, 0.507099986076355), (307, 0.5070000290870667), (475, 0.5070000290870667), (271, 0.5070000290870667), (373, 0.5067999958992004), (705, 0.5067999958992004), (104, 0.5066999793052673), (144, 0.5066999793052673), (309, 0.5066999793052673), (525, 0.5066999793052673), (562, 0.5066999793052673), (407, 0.5066999793052673), (398, 0.5066999793052673), (551, 0.5066999793052673), (514, 0.506600022315979), (362, 0.506600022315979), (774, 0.506600022315979), (734, 0.506600022315979), (216, 0.5065000057220459), (741, 0.5063999891281128), (417, 0.5063999891281128), (813, 0.5062999725341797), (458, 0.5062999725341797), (423, 0.5062000155448914), (691, 0.5062000155448914), (111, 0.5060999989509583), (215, 0.5060999989509583), (66, 0.5060999989509583), (680, 0.5060999989509583), (23, 0.5059999823570251), (648, 0.5059999823570251), (946, 0.5059999823570251), (564, 0.5059000253677368), (820, 0.5059000253677368), (731, 0.5059000253677368), (884, 0.5059000253677368), (735, 0.5059000253677368), (620, 0.5059000253677368), (493, 0.5059000253677368), (951, 0.5059000253677368), (152, 0.5058000087738037), (157, 0.5056999921798706), (898, 0.5056999921798706), (478, 0.5056999921798706), (127, 0.5055999755859375), (646, 0.5055999755859375), (918, 0.5055999755859375), (579, 0.5055999755859375), (753, 0.5055000185966492), (598, 0.5054000020027161), (189, 0.5054000020027161), (513, 0.5054000020027161), (419, 0.5054000020027161), (316, 0.505299985408783), (488, 0.505299985408783), (762, 0.505299985408783), (399, 0.505299985408783), (428, 0.5052000284194946), (812, 0.5052000284194946), (481, 0.5052000284194946), (370, 0.5052000284194946), (658, 0.5052000284194946), (344, 0.5051000118255615), (246, 0.5051000118255615), (886, 0.5051000118255615), (431, 0.5051000118255615), (248, 0.5051000118255615), (136, 0.5049999952316284), (161, 0.5048999786376953), (217, 0.5048999786376953), (410, 0.5048999786376953), (606, 0.5048999786376953), (585, 0.5048999786376953), (764, 0.5048999786376953), (148, 0.504800021648407), (392, 0.504800021648407), (255, 0.504800021648407), (376, 0.504800021648407), (130, 0.504800021648407), (938, 0.504800021648407), (871, 0.5047000050544739), (743, 0.5047000050544739), (827, 0.5047000050544739)]

        zip                  city state   fname   lname
518   85082               El Paso    NJ  nnpyze  cdyytm
337   77032           Chapel Hill    NJ  uvxfcf  ycvkks
382   44426            San Rafael    NJ  nzgvcv  bhfypo
242   86125           Springfield    NJ  rvkjko  vbckgu
783   65830           Albuquerque    NJ  ripgzv  pcawmx
814   78974         Huber Heights    NJ  okvtjf  nesxqk
15    90071             Charlotte    NJ  bgybss  uvqvlj
859   36822             Montclair    NJ  augfck  msjwgz
356   74378             Cleveland    NJ  aghkfl  fltcea
25    68219              Redlands    NJ  knatqa  ttgotw
603   83028            Burlington    NJ  echcty  xetbie
544   97632                Keller    NJ  knzfit  uvhfpt
290   94066               Jackson    NJ  auqaaq  zcpjsi
576   64972            Evansville    NJ  luwzzo  utxxas
811   27485                Corona    NJ  htudrq  vbzkel
793   21119               Houston    NJ  wbpbpd  dkzosm
561   31508              Lakewood    NJ  rerynm  ptxjiw
328   26254            Burlington    NJ  rypyam  agesfi
744   80281             Lancaster    NJ  kftgtu  iireqb
22    99772                 Logan    NJ  fiprhh  ujxwzr
587   84544           Yorba Linda    NJ  igbvro  nypckt
229   93772               Lombard    NJ  crqehy  okamdu
717   18392           Hattiesburg    NJ  bmhbyo  epxito
385   39070                 Utica    NJ  nkvhgp  fxarnt
292   43994         Moreno Valley    NJ  llpbbf  eecxse
6      8075             Riverside    NJ    Jack  Repici
411   64677              Danville    NJ  dmrkax  owtvad
2      8075             Riverside    NJ    John  Repici
0      8075             Riverside    NJ    John     Doe
837   69616               Miramar    NJ  lkrlca  gufdzg
465   78093           Morgan Hill    NJ  ioqmzd  coatbf
875   67199            Somerville    ND  uawdok  sxfuxj
991   52479        Port St. Lucie    NH  gzzigs  urvqko
498   99210           St. Charles    OK  xtdpvu  yntulj
533   88842                  Lodi    ME  nmspnz  gpvskp
320   53734           Kansas City    OK  elykuc  swjetn
922   60537               Hoboken    IN  uogusg  qrbtng
591   27861             Bradenton    CT  pnlflt  gzhyhz
365   27639          Redwood City    MI  juddgd  quyavb
773   84534            Plainfield    KY  njzhxw  cpkszk
720   96570              Paterson    MO  favbdj  gsrrrz
895   31034           Orland Park    DE  zjcolf  owhosd
233   82001       Fort Lauderdale    OK  sioszz  ykhako
589   71783            Grove City    WA  dxnmig  rivkev
1001  50671            Louisville    DE  zuzrcs  orfvwe
593   18342           San Antonio    MA  csqlgv  gpluhy
775   58479               Portage    OK  pmtawq  iooldj
651   75455            Bellflower    NH  babivd  wbdgqf
37    10082               Fontana    ME  cbbefd  kpzntd
452   93229         National City    NH  ajuitq  ptutkx
72    44530               Waltham    DE  tkfnqa  laujmv
519   32721                Kearny    WA  pvdkws  whytsy
987   84658                Mobile    IN  iyomma  efqerm
202   29705           Diamond Bar    WI  hbnxia  dfogxi
404   81455          Redwood City    WV  dusuiw  dmdmzu
71    48539              Cerritos    MN  lkthob  wwjvyf
675   75082             Palo Alto    UT  lqsgfj  mprhrg
967   66028            North Port    NC  zommax  kmsofa
79    66012            St. Peters    CT  jwmofl  eycbsv
427   50469               Midland    TX  tzibif  nxcqlx
319   59860                Rialto    WY  ggmaha  gevcst
321   61054         Missouri City    WV  saniqr  qqqxnp
33    65267                Dothan    DC  znpviy  ixeqet
495   20910              Caldwell    IN  crodib  risvwg
506   17353                  Kent    WI  aarqtu  sdaqoh
842   28918                Canton    MN  laaljo  mulkci
553   61227             Covington    HI  sxtixw  mvaqaz
194   33813       West Sacramento    DE  qbijod  noqruc
699   40674              El Monte    NC  gxwauk  aiqdup
669   30093                Berwyn    MN  pkifnh  fjfvym
204   66728                Gilroy    KY  btwlsu  dhuljg
582   39620  North Richland Hills    WY  nvljra  dsxaif
471   29731                DeKalb    SD  bjnvos  fyljex
971   70850                  Troy    SD  anmhrx  fscuua
222   97619                 Davis    HI  gmbjdh  itbtna
77    32862        Salt Lake City    DC  nhrzzh  ezrnlw
377   22265           Springfield    HI  hvmlmh  mhuymx
713   57102            Burnsville    WI  ltjxct  ggodwf
825   36642           Beavercreek    OK  qtyxmt  fcdhla
487   30206                 Ocala    ME  aohdnk  lekyzp
496   29843               Deltona    ND  zatesw  oxdjvz
327   48408             Encinitas    OR  ofdujf  xciwge
790   57860                Lenexa    WV  anvwzz  qfefwb
340   38153            Huntsville    PA  akakeo  urhavm
854   85423            Sacramento    VA  imvceu  eoigzq
164   96747           North Miami    NH  zleugo  pvznnp
155   99585              Carlsbad    MS  cmksgk  cswtok
730   38823           Goose Creek    NC  orsauo  sgardx
594   56614         Santa Barbara    MN  zttzim  htuloe
1000  95318                Newark    RI  hwqzww  qdbvmk
677   19935              Amarillo    WV  lgolwy  pfnynx
556   58885        Jeffersonville    NY  hbdqql  dsecyc
826   57112             Covington    MD  qkdcum  jpanjq
241   94859                Berwyn    WY  scqaqk  quwgyo
457   77579           Minneapolis    WA  oejdud  ychiak
798   27504             Mansfield    VA  gigdpo  hjmwwp
950   98007               Medford    ND  usnvcg  grgwmn
299   21674                Euless    VA  tkebkj  slslml
839   79771              Danville    WA  wjmfpy  qumsag
198   43212          Harrisonburg    OK  zusbzk  ceihmt
401   62912           Port Arthur    DE  ihbwih  phttbr
805   37858               Jackson    WI  kdcxfr  xmagfp
281   47647              Leesburg    AR  tzoeib  xbdqdj
261   16358           Aliso Viejo    IN  ejatql  arlyyn
415   40207              Carlsbad    WA  ngpnqa  sixvrz
463   67783             Pocatello    MO  vzhnsq  wmtvzz
174   97538         Coconut Creek    AL  iglxoq  ckhlid
305   52496              Dunwoody    VA  xbrgin  vcpowl
450   19094           Fort Pierce    IL  fxpygl  memgsv
924   67616                Peoria    TX  vcwzwa  qdgurq
955   47873               Alameda    PA  sdwiku  ruyibx
873   97454                Newton    IN  iomkct  hyyzcl
499   73929           Casa Grande    OK  udfnbo  pgnott
751   98531            Cedar Park    IN  ngoucg  jxpekp
693   54261               Concord    IN  wfuktm  zkiysv
683   28801               Lubbock    WY  whache  afwmzg
612   73985             Corvallis    KY  uzuxuz  khpdvs
615   55436             Galveston    AK  ztlscd  coqaor
307   99130                Dublin    CA  iurtym  oinezw
475   57494           Fort Pierce    ME  izmvms  zuufco
271   32605               Yonkers    NH  cmycla  eqvjwr
373   48997            St. Joseph    TX  zcvgeo  lvvoxx
705   59235               Oakland    MI  kmjeky  pvbmak
104   39801            Woonsocket    HI  ctylco  nsoxfd
144   90563               Meriden    AR  rortul  wncboi
309   17715                Tigard    NE  kknczr  iaimmp
525   54295             Jonesboro    NH  fpnrnm  apzgtu
562   20129               Bozeman    IA  hwzqzq  zzhojj
407   73532             San Ramon    HI  gxvqfh  iwedyd
398   82452                Kokomo    UT  vlzqoj  xjsanr
551   68354            Germantown    KY  ziycfi  vnqdls
514   81721            Pittsburgh    NE  iupovk  bdefhw
362   68019                Elyria    WI  lqedpp  vwqvfc
774   60817             La Crosse    ID  wxfnqc  qztdhl
734   90581    Hilton Head Island    GA  mfdefg  myclom
216   51686              Lakeland    RI  ljvvjo  yhccib
741   53293                Moline    SD  zmtrdf  ufpubx
417   92800                Dothan    IL  afnxur  ncajxr
813   92502             St. Louis    MI  fdijjo  sexabe
458   88850             Sheboygan    AL  lxbgsr  irzorb
423   99946               Everett    AL  wqijxe  tqgjws
691   86767                 Poway    TX  ywtcsj  erqdvq
111   61290            Washington    LA  eegbzh  wdgsvo
215   16345                 Eagan    AR  qlbxfd  auixcx
66    43152            Pine Bluff    ID  jwhrvr  nyproi
680   94323             Corvallis    NH  nfxoqe  jbsouj
23    45847            Cedar Hill    MN  zhvvwc  tqnjap
648   23281            San Marcos    ME  msgslv  fflywk
946   40944               Raleigh    OR  qssszh  sqydhg
564   27977             Cleveland    DE  vzfwnf  spdmyf
820   25443            Louisville    AK  gsctmf  qracyl
731   65226                 Pasco    OK  snlboy  mlxcvb
884   96134           Culver City    GA  luopdg  vkvmxs
735   94262          White Plains    UT  gejvps  eimhbp
620   48598              Muskogee    VA  iyrpzy  wkndwk
493   27966                Clovis    DE  gcdocq  pdyehz
951   79854               Burbank    VA  tyyxop  olohpp
152   68412                Euless    DC  cybftz  tlfqsv
157   63550             Ann Arbor    WY  qzuuoz  vdmzoe
898   11779              Richland    NE  wnqokx  gfqrwk
478   66907           San Leandro    CT  bddxfq  htbnpp
127   67809           Haltom City    MO  qwkcvd  wzagth
646   80029              Honolulu    IA  iokdqb  qcantd
918   10333              Billings    NV  qsxjps  voyfxx
579   26427                Auburn    WA  jarpek  ysqgmp
753   70795         Santa Barbara    NE  olditm  tczmls
598   61547           Chattanooga    NE  lpcvdr  qohdxo
189   20558              Meridian    KY  xskjto  lyxqmu
513   80028                Lompoc    TN  ayjoej  puqthv
419   49113             Roseville    ME  htpeif  qmmktl
316   40279           Marlborough    UT  znatky  hsbksw
488   83502            Cape Coral    AL  bdyamd  bwngak
762   65280           Lake Forest    NH  zgvduk  uiyhgn
399   11988            St. Joseph    SD  saijun  phwlkb
428   38702               Lansing    CT  lsmugl  ftmvvb
812   40400    Palm Beach Gardens    IN  vsavld  zaslzy
481   83756          Spanish Fork    NE  nsrkqi  ialmuw
370   34225                Joliet    DC  nbrdul  sdtqvo
658   14744            Blacksburg    GA  aegdlo  imqwxp
344   98080              Columbia    AL  gquedc  jwocxo
246   83427              Glendora    VA  jhvtzp  ckodvb
886   64886           San Leandro    NV  dpogxs  bphetn
431   16515             Elk Grove    IL  fjnjmt  hudaui
248   95781               Clifton    CT  vhokkz  jurjql
136   19591         Coconut Creek    WV  nxufvs  xvthns
161   59723                Mobile    MA  eszrgf  pqsrco
217   47267             Maplewood    MD  qgliyl  oifnvl
410   89714         Buffalo Grove    IL  pqptho  wtqmzx
606   38675                Arvada    SC  ogpksr  uxzdqt
585   24719              McKinney    MN  infnsl  wmthlh
764   86853               Milford    IA  dxidrf  etvrtp
148   84746        San Bernardino    WV  zvhnfc  stzaxe
392   72383             Livermore    SC  tbwcqr  ckqvgo
255   37508              El Cajon    DC  yeghep  nnuybb
376   99213            Broomfield    NV  nxxvhm  zvveoj
130   30132                Tustin    NE  mxyqag  oaqctf
938   21999            Springdale    AL  ccfdys  oqndru
871   76102                 Logan    NH  wcrrgf  hadhli
743   92919            Greenville    PA  krgjtz  eoauer
827   25045                Pomona    WI  csfxxv  xhgmhe

In [14]:
vec_state_NJ = hdDB.columns['state']['NJ']
query_vec_state_NJ = torchhd.bind(hdDB.columns['state'].atomic_vector, vec_state_NJ)
results = hdDB.most_similar_rows(query_vec_state_NJ, 200)
print(results)
print(df.iloc[[t[0] for t in results]])

[(518, 0.6984999775886536), (337, 0.6970000267028809), (382, 0.6944000124931335), (242, 0.692799985408783), (783, 0.6919000148773193), (814, 0.6916000247001648), (15, 0.6909000277519226), (859, 0.6899999976158142), (356, 0.6886000037193298), (25, 0.6884999871253967), (603, 0.6880999803543091), (544, 0.6877999901771545), (290, 0.6872000098228455), (576, 0.6869000196456909), (811, 0.6866999864578247), (793, 0.6866999864578247), (561, 0.6854000091552734), (328, 0.6851999759674072), (744, 0.6850000023841858), (22, 0.6850000023841858), (587, 0.684499979019165), (229, 0.683899998664856), (717, 0.6837999820709229), (385, 0.6837000250816345), (292, 0.6833999752998352), (6, 0.6833000183105469), (411, 0.6822999715805054), (2, 0.6819999814033508), (0, 0.6819000244140625), (837, 0.6807000041007996), (465, 0.6777999997138977), (875, 0.5138000249862671), (991, 0.5134000182151794), (498, 0.5131999850273132), (533, 0.5123999714851379), (320, 0.5120999813079834), (922, 0.511900007724762), (591, 0.511900007724762), (365, 0.5117999911308289), (773, 0.5117999911308289), (720, 0.5117999911308289), (895, 0.5116999745368958), (233, 0.5113999843597412), (589, 0.5112000107765198), (1001, 0.5110999941825867), (593, 0.5109999775886536), (775, 0.5109999775886536), (651, 0.5108000040054321), (37, 0.5108000040054321), (452, 0.5108000040054321), (72, 0.510699987411499), (519, 0.510699987411499), (987, 0.5105000138282776), (202, 0.5103999972343445), (404, 0.5102999806404114), (71, 0.5102999806404114), (675, 0.5101000070571899), (967, 0.5101000070571899), (79, 0.5101000070571899), (427, 0.5099999904632568), (319, 0.5098999738693237), (321, 0.5098999738693237), (33, 0.5098999738693237), (495, 0.5097000002861023), (506, 0.5095000267028809), (842, 0.5095000267028809), (553, 0.5094000101089478), (194, 0.5094000101089478), (699, 0.5092999935150146), (669, 0.5092999935150146), (204, 0.5092999935150146), (582, 0.5092999935150146), (471, 0.5091999769210815), (971, 0.5091000199317932), (222, 0.5090000033378601), (77, 0.5090000033378601), (377, 0.5090000033378601), (713, 0.5090000033378601), (825, 0.5088000297546387), (487, 0.5088000297546387), (496, 0.5088000297546387), (327, 0.5087000131607056), (790, 0.5087000131607056), (340, 0.5087000131607056), (854, 0.5087000131607056), (164, 0.5087000131607056), (155, 0.5085999965667725), (730, 0.5084999799728394), (594, 0.508400022983551), (1000, 0.508400022983551), (677, 0.5083000063896179), (556, 0.5083000063896179), (826, 0.5083000063896179), (241, 0.5081999897956848), (457, 0.5081999897956848), (798, 0.5081999897956848), (950, 0.5081999897956848), (299, 0.5081999897956848), (839, 0.5080999732017517), (198, 0.5080999732017517), (401, 0.5080999732017517), (805, 0.5080000162124634), (281, 0.5080000162124634), (261, 0.5080000162124634), (415, 0.5080000162124634), (463, 0.5080000162124634), (174, 0.5078999996185303), (305, 0.5076000094413757), (450, 0.5076000094413757), (924, 0.5076000094413757), (955, 0.5074999928474426), (873, 0.5073999762535095), (499, 0.5072000026702881), (751, 0.5072000026702881), (693, 0.5072000026702881), (683, 0.5072000026702881), (612, 0.507099986076355), (615, 0.507099986076355), (307, 0.5070000290870667), (475, 0.5070000290870667), (271, 0.5070000290870667), (373, 0.5067999958992004), (705, 0.5067999958992004), (104, 0.5066999793052673), (144, 0.5066999793052673), (309, 0.5066999793052673), (525, 0.5066999793052673), (562, 0.5066999793052673), (407, 0.5066999793052673), (398, 0.5066999793052673), (551, 0.5066999793052673), (514, 0.506600022315979), (362, 0.506600022315979), (774, 0.506600022315979), (734, 0.506600022315979), (216, 0.5065000057220459), (741, 0.5063999891281128), (417, 0.5063999891281128), (813, 0.5062999725341797), (458, 0.5062999725341797), (423, 0.5062000155448914), (691, 0.5062000155448914), (111, 0.5060999989509583), (215, 0.5060999989509583), (66, 0.5060999989509583), (680, 0.5060999989509583), (23, 0.5059999823570251), (648, 0.5059999823570251), (946, 0.5059999823570251), (564, 0.5059000253677368), (820, 0.5059000253677368), (731, 0.5059000253677368), (884, 0.5059000253677368), (735, 0.5059000253677368), (620, 0.5059000253677368), (493, 0.5059000253677368), (951, 0.5059000253677368), (152, 0.5058000087738037), (157, 0.5056999921798706), (898, 0.5056999921798706), (478, 0.5056999921798706), (127, 0.5055999755859375), (646, 0.5055999755859375), (918, 0.5055999755859375), (579, 0.5055999755859375), (753, 0.5055000185966492), (598, 0.5054000020027161), (189, 0.5054000020027161), (513, 0.5054000020027161), (419, 0.5054000020027161), (316, 0.505299985408783), (488, 0.505299985408783), (762, 0.505299985408783), (399, 0.505299985408783), (428, 0.5052000284194946), (812, 0.5052000284194946), (481, 0.5052000284194946), (370, 0.5052000284194946), (658, 0.5052000284194946), (344, 0.5051000118255615), (246, 0.5051000118255615), (886, 0.5051000118255615), (431, 0.5051000118255615), (248, 0.5051000118255615), (136, 0.5049999952316284), (161, 0.5048999786376953), (217, 0.5048999786376953), (410, 0.5048999786376953), (606, 0.5048999786376953), (585, 0.5048999786376953), (764, 0.5048999786376953), (148, 0.504800021648407), (392, 0.504800021648407), (255, 0.504800021648407), (376, 0.504800021648407), (130, 0.504800021648407), (938, 0.504800021648407), (871, 0.5047000050544739), (743, 0.5047000050544739), (827, 0.5047000050544739)]
       zip         city state   fname   lname
518  85082      El Paso    NJ  nnpyze  cdyytm
337  77032  Chapel Hill    NJ  uvxfcf  ycvkks
382  44426   San Rafael    NJ  nzgvcv  bhfypo
242  86125  Springfield    NJ  rvkjko  vbckgu
783  65830  Albuquerque    NJ  ripgzv  pcawmx
..     ...          ...   ...     ...     ...
130  30132       Tustin    NE  mxyqag  oaqctf
938  21999   Springdale    AL  ccfdys  oqndru
871  76102        Logan    NH  wcrrgf  hadhli
743  92919   Greenville    PA  krgjtz  eoauer
827  25045       Pomona    WI  csfxxv  xhgmhe

[200 rows x 5 columns]

In [15]:
vec_zip_85301 = hdDB.columns['zip']['91234']
query_vec_zip_85301 = torchhd.bind(hdDB.columns['zip'].atomic_vector, vec_zip_85301)
results = hdDB.most_similar_rows(query_vec_zip_85301, 200)
print(results)
print(df.iloc[[t[0] for t in results]])

[(3, 0.683899998664856), (488, 0.5181999802589417), (291, 0.5174999833106995), (384, 0.5163999795913696), (804, 0.5145999789237976), (551, 0.5135999917984009), (541, 0.5133000016212463), (69, 0.5131000280380249), (972, 0.5131000280380249), (26, 0.5130000114440918), (731, 0.5120000243186951), (160, 0.511900007724762), (340, 0.5117999911308289), (128, 0.5115000009536743), (881, 0.5113000273704529), (296, 0.5112000107765198), (788, 0.5110999941825867), (484, 0.5110999941825867), (119, 0.5109999775886536), (745, 0.5109000205993652), (504, 0.5108000040054321), (478, 0.5105999708175659), (171, 0.5105000138282776), (692, 0.5103999972343445), (967, 0.5103999972343445), (903, 0.5102999806404114), (138, 0.5102999806404114), (266, 0.5102999806404114), (477, 0.510200023651123), (904, 0.510200023651123), (307, 0.5101000070571899), (911, 0.5097000002861023), (443, 0.5097000002861023), (938, 0.5097000002861023), (103, 0.5097000002861023), (571, 0.5095999836921692), (174, 0.5095999836921692), (12, 0.5095000267028809), (130, 0.5095000267028809), (32, 0.5092999935150146), (375, 0.5092999935150146), (435, 0.5091999769210815), (60, 0.5091999769210815), (817, 0.5091000199317932), (425, 0.5090000033378601), (147, 0.5090000033378601), (872, 0.5090000033378601), (747, 0.5090000033378601), (439, 0.508899986743927), (183, 0.5088000297546387), (552, 0.5088000297546387), (807, 0.5088000297546387), (646, 0.5087000131607056), (853, 0.5085999965667725), (956, 0.5085999965667725), (508, 0.5084999799728394), (420, 0.508400022983551), (406, 0.508400022983551), (661, 0.508400022983551), (461, 0.5081999897956848), (895, 0.5081999897956848), (283, 0.5080999732017517), (330, 0.5078999996185303), (612, 0.5077999830245972), (945, 0.5077999830245972), (29, 0.5077999830245972), (355, 0.5077000260353088), (900, 0.5077000260353088), (43, 0.5077000260353088), (724, 0.5077000260353088), (663, 0.5076000094413757), (97, 0.5076000094413757), (248, 0.5076000094413757), (868, 0.5074999928474426), (851, 0.5074999928474426), (580, 0.5074999928474426), (295, 0.5074999928474426), (988, 0.5073999762535095), (321, 0.5073999762535095), (374, 0.5073999762535095), (697, 0.5073999762535095), (505, 0.5073999762535095), (664, 0.5073000192642212), (640, 0.5073000192642212), (560, 0.5073000192642212), (845, 0.5073000192642212), (654, 0.5072000026702881), (85, 0.507099986076355), (982, 0.507099986076355), (835, 0.507099986076355), (616, 0.507099986076355), (426, 0.507099986076355), (253, 0.507099986076355), (483, 0.5070000290870667), (105, 0.5070000290870667), (369, 0.5070000290870667), (721, 0.5070000290870667), (893, 0.5069000124931335), (1000, 0.5069000124931335), (534, 0.5069000124931335), (782, 0.5069000124931335), (637, 0.5067999958992004), (166, 0.5067999958992004), (367, 0.5067999958992004), (944, 0.5067999958992004), (198, 0.5067999958992004), (30, 0.5066999793052673), (202, 0.5066999793052673), (555, 0.5066999793052673), (892, 0.5066999793052673), (601, 0.506600022315979), (586, 0.506600022315979), (209, 0.5065000057220459), (713, 0.5065000057220459), (533, 0.5065000057220459), (309, 0.5063999891281128), (699, 0.5063999891281128), (960, 0.5063999891281128), (67, 0.5063999891281128), (803, 0.5063999891281128), (584, 0.5063999891281128), (81, 0.5063999891281128), (101, 0.5062999725341797), (46, 0.5062999725341797), (531, 0.5062000155448914), (970, 0.5062000155448914), (218, 0.5062000155448914), (438, 0.5062000155448914), (671, 0.5062000155448914), (243, 0.5060999989509583), (239, 0.5060999989509583), (1006, 0.5060999989509583), (94, 0.5060999989509583), (978, 0.5060999989509583), (78, 0.5059999823570251), (245, 0.5059999823570251), (33, 0.5059999823570251), (976, 0.5059999823570251), (193, 0.5059999823570251), (512, 0.5059000253677368), (674, 0.5059000253677368), (567, 0.5059000253677368), (949, 0.5059000253677368), (339, 0.5059000253677368), (189, 0.5059000253677368), (286, 0.5059000253677368), (315, 0.5059000253677368), (619, 0.5058000087738037), (108, 0.5058000087738037), (467, 0.5058000087738037), (72, 0.5058000087738037), (410, 0.5058000087738037), (565, 0.5056999921798706), (40, 0.5056999921798706), (857, 0.5056999921798706), (675, 0.5055999755859375), (702, 0.5055999755859375), (93, 0.5055999755859375), (760, 0.5055999755859375), (771, 0.5055000185966492), (499, 0.5055000185966492), (957, 0.5055000185966492), (90, 0.5055000185966492), (907, 0.505299985408783), (303, 0.505299985408783), (912, 0.5052000284194946), (794, 0.5052000284194946), (120, 0.5051000118255615), (175, 0.5051000118255615), (223, 0.5049999952316284), (578, 0.5049999952316284), (879, 0.5048999786376953), (469, 0.5048999786376953), (169, 0.5048999786376953), (706, 0.5048999786376953), (506, 0.504800021648407), (727, 0.504800021648407), (763, 0.504800021648407), (635, 0.504800021648407), (543, 0.504800021648407), (269, 0.504800021648407), (399, 0.504800021648407), (11, 0.504800021648407), (948, 0.504800021648407), (915, 0.504800021648407), (539, 0.504800021648407), (1004, 0.5047000050544739), (694, 0.5047000050544739), (84, 0.5047000050544739), (867, 0.5047000050544739), (688, 0.5045999884605408), (936, 0.5045999884605408), (901, 0.5045999884605408), (576, 0.5045999884605408), (502, 0.5045999884605408), (404, 0.5045999884605408), (112, 0.5045999884605408), (752, 0.5045999884605408), (546, 0.5045999884605408), (981, 0.5045999884605408)]
       zip           city state    fname   lname
3    91234    Sioux Falls    SD  Stephen   Tyler
488  83502     Cape Coral    AL   bdyamd  bwngak
291  23121      Las Vegas    AK   wfzlex  jwmpfe
384  66261      Cambridge    NY   pqsirz  ildsnz
804  69750       Waukesha    MA   eainqr  vqnmtw
..     ...            ...   ...      ...     ...
404  81455   Redwood City    WV   dusuiw  dmdmzu
112  99819  Grand Prairie    WA   ycfwfy  jxwfcl
752  50272         Aurora    MA   nxjkzg  erbhwj
546  75015         Lorain    AZ   pgcgco  jitcti
981  40924         Dublin    IA   qpldpe  jgoprn

[200 rows x 5 columns]

In [16]:
vec_fname_john = hdDB.columns['fname']['John']
query_vec_fname_john = torchhd.bind(hdDB.columns['fname'].atomic_vector, vec_fname_john)
results = hdDB.most_similar_rows(query_vec_fname_john, 200)
print(results)
print(df.iloc[[t[0] for t in results]])

[(2, 0.6920999884605408), (0, 0.6869999766349792), (4, 0.6801999807357788), (67, 0.5166000127792358), (933, 0.51419997215271), (312, 0.5134000182151794), (731, 0.5134000182151794), (195, 0.5131999850273132), (310, 0.5121999979019165), (124, 0.5121999979019165), (801, 0.5120000243186951), (903, 0.511900007724762), (808, 0.511900007724762), (826, 0.5117999911308289), (583, 0.5116000175476074), (219, 0.5115000009536743), (231, 0.5113000273704529), (446, 0.5113000273704529), (90, 0.5113000273704529), (237, 0.5112000107765198), (56, 0.5112000107765198), (662, 0.5102999806404114), (782, 0.5102999806404114), (226, 0.510200023651123), (525, 0.510200023651123), (313, 0.510200023651123), (573, 0.5101000070571899), (825, 0.5101000070571899), (774, 0.5101000070571899), (985, 0.5098999738693237), (773, 0.5095000267028809), (973, 0.5095000267028809), (490, 0.5092999935150146), (684, 0.5091999769210815), (175, 0.5091000199317932), (455, 0.5091000199317932), (521, 0.5091000199317932), (831, 0.5090000033378601), (134, 0.5085999965667725), (389, 0.5084999799728394), (363, 0.5084999799728394), (678, 0.508400022983551), (643, 0.508400022983551), (776, 0.5083000063896179), (211, 0.5081999897956848), (509, 0.5080999732017517), (52, 0.5080999732017517), (791, 0.5080000162124634), (860, 0.5078999996185303), (965, 0.5078999996185303), (390, 0.5078999996185303), (572, 0.5078999996185303), (477, 0.5077999830245972), (420, 0.5077999830245972), (612, 0.5077999830245972), (150, 0.5076000094413757), (297, 0.5074999928474426), (169, 0.5074999928474426), (617, 0.5074999928474426), (969, 0.5073999762535095), (147, 0.5073999762535095), (445, 0.5073000192642212), (517, 0.5073000192642212), (824, 0.5073000192642212), (667, 0.5073000192642212), (220, 0.5072000026702881), (387, 0.5072000026702881), (325, 0.5072000026702881), (435, 0.5072000026702881), (830, 0.5072000026702881), (602, 0.5072000026702881), (877, 0.507099986076355), (579, 0.507099986076355), (110, 0.507099986076355), (934, 0.5070000290870667), (984, 0.5070000290870667), (486, 0.5070000290870667), (232, 0.5069000124931335), (924, 0.5069000124931335), (725, 0.5069000124931335), (268, 0.5069000124931335), (135, 0.5069000124931335), (236, 0.5069000124931335), (437, 0.5067999958992004), (559, 0.5067999958992004), (539, 0.5067999958992004), (657, 0.5066999793052673), (723, 0.5066999793052673), (671, 0.506600022315979), (894, 0.506600022315979), (807, 0.506600022315979), (95, 0.506600022315979), (470, 0.5065000057220459), (740, 0.5065000057220459), (159, 0.5065000057220459), (1000, 0.5065000057220459), (140, 0.5065000057220459), (194, 0.5065000057220459), (850, 0.5065000057220459), (369, 0.5063999891281128), (249, 0.5063999891281128), (966, 0.5063999891281128), (430, 0.5063999891281128), (494, 0.5063999891281128), (988, 0.5063999891281128), (863, 0.5063999891281128), (448, 0.5062999725341797), (365, 0.5062999725341797), (42, 0.5062999725341797), (66, 0.5062000155448914), (615, 0.5062000155448914), (967, 0.5062000155448914), (942, 0.5060999989509583), (817, 0.5060999989509583), (102, 0.5060999989509583), (976, 0.5059999823570251), (366, 0.5059999823570251), (225, 0.5059999823570251), (797, 0.5059999823570251), (977, 0.5059999823570251), (386, 0.5059000253677368), (616, 0.5059000253677368), (80, 0.5059000253677368), (737, 0.5058000087738037), (921, 0.5058000087738037), (309, 0.5058000087738037), (162, 0.5056999921798706), (421, 0.5056999921798706), (593, 0.5056999921798706), (555, 0.5056999921798706), (379, 0.5056999921798706), (552, 0.5055999755859375), (695, 0.5055999755859375), (108, 0.5055999755859375), (578, 0.5055999755859375), (258, 0.5055999755859375), (946, 0.5055000185966492), (931, 0.5054000020027161), (298, 0.5054000020027161), (633, 0.5054000020027161), (692, 0.5054000020027161), (157, 0.5054000020027161), (834, 0.5054000020027161), (364, 0.5054000020027161), (497, 0.5054000020027161), (55, 0.505299985408783), (913, 0.505299985408783), (304, 0.505299985408783), (461, 0.5052000284194946), (546, 0.5052000284194946), (273, 0.5052000284194946), (438, 0.5052000284194946), (795, 0.5051000118255615), (293, 0.5051000118255615), (613, 0.5051000118255615), (765, 0.5051000118255615), (528, 0.5051000118255615), (864, 0.5049999952316284), (49, 0.5048999786376953), (749, 0.5048999786376953), (879, 0.5048999786376953), (926, 0.5048999786376953), (900, 0.5048999786376953), (103, 0.5048999786376953), (308, 0.504800021648407), (301, 0.504800021648407), (601, 0.504800021648407), (1007, 0.504800021648407), (660, 0.504800021648407), (794, 0.504800021648407), (891, 0.5047000050544739), (357, 0.5045999884605408), (374, 0.5045999884605408), (734, 0.5044999718666077), (91, 0.5044999718666077), (185, 0.5044999718666077), (155, 0.5044999718666077), (868, 0.5044999718666077), (81, 0.5044000148773193), (822, 0.5044000148773193), (64, 0.5044000148773193), (852, 0.5044000148773193), (668, 0.5042999982833862), (361, 0.5042999982833862), (745, 0.5042999982833862), (347, 0.5041999816894531), (350, 0.5041999816894531), (393, 0.5041999816894531), (351, 0.5041999816894531), (845, 0.5041000247001648), (930, 0.5041000247001648), (914, 0.5041000247001648), (866, 0.5041000247001648), (267, 0.5041000247001648), (125, 0.5041000247001648), (252, 0.5041000247001648), (533, 0.5041000247001648), (623, 0.5040000081062317), (248, 0.5040000081062317), (948, 0.5040000081062317)]
       zip               city state   fname     lname
2     8075          Riverside    NJ    John    Repici
0     8075          Riverside    NJ    John       Doe
4      298        Sioux Falls    SD    John  Blankman
67   63273           Westland    AK  uwzjpw    otcwkk
933  82099            Greeley    OK  ztsjkk    yvwepb
..     ...                ...   ...     ...       ...
252  10533           Burleson    KY  oulfcc    luuzzi
533  88842               Lodi    ME  nmspnz    gpvskp
623  77524  Peachtree Corners    ND  akypxk    vxppwc
248  95781            Clifton    CT  vhokkz    jurjql
948  81017            Alameda    FL  ggxhcw    mtocyo

[200 rows x 5 columns]

In [17]:
vec_lastname_repici = hdDB.columns['lname']['Blankman']
query_vec_lastname_repici = torchhd.bind(hdDB.columns['lname'].atomic_vector, vec_lastname_repici)
results = hdDB.most_similar_rows(query_vec_lastname_repici, 10)
print(results)
print(df.iloc[[t[0] for t in results]])

[(4, 0.6848000288009644), (811, 0.517799973487854), (22, 0.5160999894142151), (871, 0.5149999856948853), (110, 0.5149000287055969), (164, 0.51419997215271), (255, 0.513700008392334), (540, 0.5133000016212463), (209, 0.5133000016212463), (411, 0.5131999850273132)]
       zip           city state   fname     lname
4      298    Sioux Falls    SD    John  Blankman
811  27485         Corona    NJ  htudrq    vbzkel
22   99772          Logan    NJ  fiprhh    ujxwzr
871  76102          Logan    NH  wcrrgf    hadhli
110  93819  Downers Grove    NC  xqacaq    qnalur
164  96747    North Miami    NH  zleugo    pvznnp
255  37508       El Cajon    DC  yeghep    nnuybb
540  32313     Alexandria    MI  obncsc    yfcbzb
209  90029       Pacifica    WY  wvrqoy    xgqukm
411  64677       Danville    NJ  dmrkax    owtvad

In [18]:
jack_repici_vec = hdDB[6]
# t = torchhd.inverse(hdDB.columns['state'].atomic_vector)

# unbinding to obtain the state that Jack Repici lives in
jack_repici_state_vec = torchhd.bind(jack_repici_vec, torchhd.inverse(hdDB.columns['state'].atomic_vector))
print(sim_func(jack_repici_state_vec, hdDB.columns['state']['NJ']))
print(sim_func(jack_repici_state_vec, hdDB.columns['state']['PA']))

query_vec_jack_repici_state = torchhd.bind(hdDB.columns['state'].atomic_vector, jack_repici_state_vec)
query_vec = torchhd.bundle(query_vec_jack_repici_state, query_vec_lastname_repici)
results = hdDB.most_similar_rows(query_vec, 10)
print(results)
print(df.iloc[[t[0] for t in results]])

BSCTensor(0.6833)
BSCTensor(0.4947)
[(6, 0.7511000037193298), (2, 0.6535999774932861), (0, 0.6115000247955322), (4, 0.5967000126838684), (242, 0.5429999828338623), (995, 0.5429999828338623), (290, 0.5429999828338623), (915, 0.5421000123023987), (382, 0.5418000221252441), (811, 0.5414999723434448)]
       zip         city state   fname     lname
6     8075    Riverside    NJ    Jack    Repici
2     8075    Riverside    NJ    John    Repici
0     8075    Riverside    NJ    John       Doe
4      298  Sioux Falls    SD    John  Blankman
242  86125  Springfield    NJ  rvkjko    vbckgu
995  33664    Riverside    MA  uuphde    klvoei
290  94066      Jackson    NJ  auqaaq    zcpjsi
915  66749    Riverside    HI  bunpkb    ygqtgo
382  44426   San Rafael    NJ  nzgvcv    bhfypo
811  27485       Corona    NJ  htudrq    vbzkel

In [19]:
import math

def theoretical_similarity(amount_bundled):
    amount_bundled = amount_bundled + 1 if amount_bundled % 2 == 0 else amount_bundled # +1 because we need an odd amount of elements
    expected_similarity = 1/2 + (math.comb(amount_bundled-1, (amount_bundled-1)//2) * .5**amount_bundled)
    return expected_similarity


print(theoretical_similarity(3))
print(theoretical_similarity(5))  
print(theoretical_similarity(7))

0.75
0.6875
0.65625