In [1]:
import torchhd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from HDDB import HDDB
from utils import similarity_func_partial
from functools import partial

### Loading the dataset

In [2]:
df = pd.read_csv('data/addresses.csv')
# strip whitespace from all values
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
# df = df.drop(columns=['address', 'zip'])
df = df.drop(columns=['address'])
print(df.dtypes)
# change order of columns
df = df[['zip', 'city', 'state' , 'fname', 'lname']]
df

fname    object
lname    object
city     object
state    object
zip       int64
dtype: object

     zip          city state    fname     lname
0   8075     Riverside    NJ     John       Doe
1   9119  Philadelphia    PA     Jack  McGinnis
2   8075     Riverside    NJ     John    Repici
3  91234   Sioux Falls    SD  Stephen     Tyler
4    298   Sioux Falls    SD     John  Blankman
5    123        Denver    CO     Joan      Anne
6   8075     Riverside    NJ     Jack    Repici
7   9119  Philadelphia    PA    Lilly    Repici

### Extending the dataset

In [3]:
all_states_df = pd.read_csv('data/states.csv')
all_states_df.columns = all_states_df.columns.str.strip().str.lower()
print(len(all_states_df['abbreviation'].unique()))
all_cities_df = pd.read_csv('data/us-cities-top-1k.csv')
all_cities_df.columns = all_cities_df.columns.str.strip().str.lower()


all_cities_df['abbreviation'] = all_cities_df['state'].apply(lambda x: all_states_df[all_states_df['state'] == x]['abbreviation'].values[0])
print(len(all_cities_df['abbreviation'].unique()))
all_cities_df.head()
print(all_cities_df[all_cities_df['abbreviation'] == 'UT'])

51
51
                 city state  population        lat         lon abbreviation
31              Logan  Utah       48913  41.736980 -111.833836           UT
193      South Jordan  Utah       59366  40.562170 -111.929658           UT
285         Bountiful  Utah       43023  40.889390 -111.880771           UT
381             Provo  Utah      116288  40.233844 -111.658534           UT
434      Spanish Fork  Utah       36956  40.114955 -111.654923           UT
440      Taylorsville  Utah       60519  40.667725 -111.938826           UT
466          Riverton  Utah       40921  40.521893 -111.939102           UT
500              Lehi  Utah       54382  40.391617 -111.850766           UT
533             Ogden  Utah       84249  41.223000 -111.973830           UT
568            Layton  Utah       70790  41.060222 -111.971053           UT
603            Murray  Utah       48612  40.666892 -111.887991           UT
630             Sandy  Utah       90231  40.564978 -111.838973           UT
673  West Valley City  Utah      133579  40.691613 -112.001050           UT
676              Orem  Utah       91648  40.296898 -111.694648           UT
737               Roy  Utah       37733  41.161611 -112.026331           UT
762            Draper  Utah       45285  40.524671 -111.863823           UT
856        St. George  Utah       76817  37.096528 -113.568416           UT
955       West Jordan  Utah      110077  40.609670 -111.939103           UT
964    Salt Lake City  Utah      191180  40.760779 -111.891047           UT

In [4]:
def generate_random_rows(n=1000, city_state_relation=False):
    
    def random_names(n, name_len=10):
        return [''.join(np.random.choice(list('abcdefghijklmnopqrstuvwxyz'), name_len, replace=True)) for i in range(n)]
    
    new_df = pd.DataFrame()
    new_df['fname'] = random_names(n,6)
    new_df['lname'] = random_names(n,6)
    new_df['state'] = np.random.choice(all_states_df['abbreviation'].values, n, replace=True)
    new_df['zip'] = np.random.randint(10000, 99999, n)
    if city_state_relation:
        new_df['city'] = new_df['state'].apply(lambda x: np.random.choice(all_cities_df[all_cities_df['abbreviation'] == x]['city'].values, 1)[0])
    else:
        new_df['city'] = np.random.choice(all_cities_df['city'].values, n, replace=True)

    return new_df

print(generate_random_rows(10, city_state_relation=True))

    fname   lname state    zip               city
0  mxpcat  xhmyeg    IL  83572             Urbana
1  ajlesi  hyixgi    KY  85257  Lexington-Fayette
2  hyqpkn  jnkfhq    HI  32624           Honolulu
3  klcczq  cietvm    WI  94184          La Crosse
4  qfhmkn  ibqgvz    UT  74930              Provo
5  mhljnk  anyvdz    TN  65402          Knoxville
6  gwvhvq  vzwtys    AK  37002          Anchorage
7  qobaxp  upxdli    UT  68626        West Jordan
8  muehts  conicm    FL  16212         Greenacres
9  phioxd  grzqcj    OH  37112        Springfield

In [5]:
# add random rows to the dataframe
random_df = generate_random_rows(1000)
print(random_df.shape)
df = pd.concat([df, random_df], ignore_index=True)
#set all column types to object
df = df.astype(str)

(1000, 5)

In [6]:
df.sample(10)

       zip             city state   fname   lname
62   58972      West Covina    SD  nvqrxh  qwprfx
143  24284          Findlay    FL  ovfawg  ecrnpr
327  28798         Chandler    WA  mslonf  togzcy
266  72061         Stockton    TN  dxaxbb  jqczmj
378  84210         Chandler    OK  ekkurv  bfyeqb
554  62144            Salem    NM  qzdemr  fbotnb
896  94116        Mansfield    NJ  ksassf  ckuykg
955  48352    Newport Beach    ID  niyjmb  cizdey
265  43236       Shreveport    IN  hkxwdw  oaqxiu
757  14098  Rochester Hills    NC  cgwfnt  ewsgbc

In [7]:
exp_dim = 10_000
exp_vsa_type = "BSC"
sim_func = partial(similarity_func_partial, exp_vsa_type)
hdDB = HDDB(dim=exp_dim, vsa_type=exp_vsa_type)

In [8]:
hdDB.set_columns(df.columns)

In [9]:
for index, row in df.iterrows():
    values = row.values
    hdDB.add_row(index, values)

In [18]:
#https://docs.google.com/presentation/d/176_bmMfthBgrO6lBczBlgU4PAC59qf8rWUHNmKoVtLo/edit#slide=id.g226b508b046_0_20

print(hdDB.similiraity_cutoff(0.3))
print(hdDB.similiraity_cutoff(0.5))
print(hdDB.similiraity_cutoff(0.6))
print(hdDB.similiraity_cutoff(0.9))
print(hdDB.similiraity_cutoff(0.95))
print(hdDB.similiraity_cutoff(0.99))

0.689930661430611
0.6875
0.6863257047481339
0.6815598495115457
0.6798758993876929
0.67671708901005

In [11]:
vec_NJ = hdDB.columns['state']['NJ']
query_vec_NJ = torchhd.bind(hdDB.columns['state'].atomic_vector, vec_NJ)
results = hdDB.most_similar_rows(query_vec_NJ, 200)
print(results)
print()
with pd.option_context('display.max_rows', None,):
  print(df.iloc[[t[0] for t in results]])

[(205, 0.6974999904632568), (764, 0.6948000192642212), (875, 0.6922000050544739), (896, 0.6920999884605408), (127, 0.6908000111579895), (579, 0.6906999945640564), (383, 0.6901999711990356), (918, 0.6891000270843506), (814, 0.6884999871253967), (36, 0.6880999803543091), (196, 0.6868000030517578), (297, 0.6868000030517578), (712, 0.6866999864578247), (980, 0.6863999962806702), (169, 0.6855999827384949), (601, 0.6837000250816345), (831, 0.6836000084877014), (2, 0.6836000084877014), (240, 0.6834999918937683), (834, 0.6819999814033508), (6, 0.6819999814033508), (0, 0.6819000244140625), (134, 0.6819000244140625), (246, 0.6798999905586243), (490, 0.6791999936103821), (757, 0.5170999765396118), (674, 0.5148000121116638), (172, 0.5145000219345093), (412, 0.5134000182151794), (128, 0.5133000016212463), (830, 0.5131000280380249), (56, 0.5131000280380249), (845, 0.5127999782562256), (584, 0.5126000046730042), (840, 0.512499988079071), (969, 0.512499988079071), (912, 0.5120000243186951), (870, 0.511900007724762), (243, 0.5113999843597412), (307, 0.5113000273704529), (35, 0.5109000205993652), (76, 0.510699987411499), (45, 0.5105999708175659), (574, 0.5105000138282776), (174, 0.5105000138282776), (466, 0.5102999806404114), (878, 0.5101000070571899), (560, 0.5099999904632568), (533, 0.5098999738693237), (370, 0.5098000168800354), (901, 0.5098000168800354), (373, 0.5097000002861023), (819, 0.5095000267028809), (884, 0.5094000101089478), (42, 0.5092999935150146), (167, 0.5092999935150146), (441, 0.5092999935150146), (270, 0.5091999769210815), (425, 0.5091999769210815), (242, 0.5091000199317932), (632, 0.5090000033378601), (935, 0.5090000033378601), (542, 0.508899986743927), (622, 0.5088000297546387), (473, 0.5087000131607056), (344, 0.5087000131607056), (987, 0.5087000131607056), (328, 0.5085999965667725), (932, 0.508400022983551), (988, 0.508400022983551), (304, 0.508400022983551), (647, 0.508400022983551), (786, 0.5083000063896179), (492, 0.5083000063896179), (605, 0.5083000063896179), (214, 0.5080999732017517), (883, 0.5080999732017517), (891, 0.5080999732017517), (952, 0.5080000162124634), (476, 0.5080000162124634), (617, 0.5080000162124634), (321, 0.5080000162124634), (394, 0.5080000162124634), (265, 0.5080000162124634), (940, 0.5078999996185303), (103, 0.5077999830245972), (824, 0.5077999830245972), (798, 0.5077999830245972), (956, 0.5077000260353088), (795, 0.5077000260353088), (829, 0.5076000094413757), (222, 0.5076000094413757), (511, 0.5076000094413757), (919, 0.5074999928474426), (524, 0.5074999928474426), (893, 0.5074999928474426), (872, 0.5074999928474426), (721, 0.5073999762535095), (982, 0.5073999762535095), (224, 0.5073000192642212), (641, 0.5073000192642212), (54, 0.5072000026702881), (971, 0.5072000026702881), (869, 0.5072000026702881), (229, 0.507099986076355), (266, 0.507099986076355), (747, 0.507099986076355), (714, 0.507099986076355), (396, 0.507099986076355), (465, 0.5070000290870667), (377, 0.5070000290870667), (44, 0.5070000290870667), (131, 0.5070000290870667), (736, 0.5069000124931335), (835, 0.5069000124931335), (578, 0.5069000124931335), (794, 0.5069000124931335), (596, 0.5069000124931335), (51, 0.5069000124931335), (324, 0.5067999958992004), (944, 0.5067999958992004), (284, 0.5066999793052673), (609, 0.5066999793052673), (611, 0.5066999793052673), (950, 0.5066999793052673), (903, 0.506600022315979), (804, 0.506600022315979), (109, 0.506600022315979), (857, 0.506600022315979), (790, 0.5063999891281128), (737, 0.5063999891281128), (379, 0.5063999891281128), (311, 0.5063999891281128), (83, 0.5063999891281128), (194, 0.5062999725341797), (1006, 0.5062000155448914), (858, 0.5062000155448914), (780, 0.5062000155448914), (110, 0.5062000155448914), (285, 0.5060999989509583), (791, 0.5060999989509583), (126, 0.5060999989509583), (569, 0.5060999989509583), (826, 0.5060999989509583), (868, 0.5060999989509583), (1004, 0.5060999989509583), (680, 0.5060999989509583), (947, 0.5060999989509583), (759, 0.5059999823570251), (495, 0.5059999823570251), (684, 0.5059999823570251), (606, 0.5059999823570251), (618, 0.5059000253677368), (137, 0.5059000253677368), (598, 0.5059000253677368), (520, 0.5058000087738037), (961, 0.5058000087738037), (61, 0.5058000087738037), (527, 0.5058000087738037), (25, 0.5058000087738037), (390, 0.5056999921798706), (378, 0.5056999921798706), (5, 0.5056999921798706), (897, 0.5056999921798706), (580, 0.5056999921798706), (525, 0.5056999921798706), (698, 0.5055000185966492), (251, 0.5055000185966492), (720, 0.5055000185966492), (886, 0.5055000185966492), (108, 0.5055000185966492), (655, 0.5054000020027161), (967, 0.5054000020027161), (504, 0.5054000020027161), (863, 0.5054000020027161), (1001, 0.5054000020027161), (262, 0.5054000020027161), (41, 0.505299985408783), (80, 0.505299985408783), (259, 0.505299985408783), (633, 0.505299985408783), (577, 0.505299985408783), (905, 0.5052000284194946), (427, 0.5052000284194946), (81, 0.5052000284194946), (4, 0.5052000284194946), (909, 0.5052000284194946), (913, 0.5052000284194946), (532, 0.5051000118255615), (767, 0.5051000118255615), (12, 0.5051000118255615), (784, 0.5049999952316284), (564, 0.5049999952316284), (147, 0.5049999952316284), (351, 0.5049999952316284), (549, 0.5049999952316284), (29, 0.5049999952316284), (478, 0.5049999952316284), (228, 0.5049999952316284), (326, 0.5048999786376953)]

        zip                city state   fname     lname
205   75008         Goose Creek    NJ  vdnftd    vgevjl
764   43017            Valdosta    NJ  vzuwhj    bquhnq
875   89187           Littleton    NJ  yghval    nskwnl
896   94116           Mansfield    NJ  ksassf    ckuykg
127   68883             Suffolk    NJ  srbikh    gzxpfq
579   35150         Fort Pierce    NJ  aoetwp    ifgeui
383   88908            Columbia    NJ  ykslly    wntxrw
918   81564              Joplin    NJ  kmihgj    lkmnlv
814   95789           Lancaster    NJ  ggiqwm    lgzefp
36    94775         Sioux Falls    NJ  odccur    hukwza
196   78918           Greenwood    NJ  tkemrn    bzgjgp
297   11753              Odessa    NJ  lzrqex    vraimb
712   20992          Middletown    NJ  gwvfmn    eygwuo
980   63187           Annapolis    NJ  obfnxq    emhqwh
169   79782           Lancaster    NJ  ytjujj    mwravs
601   97384              Folsom    NJ  vtxtfu    wjwlur
831   96868          Georgetown    NJ  diftcg    trxazp
2      8075           Riverside    NJ    John    Repici
240   43899             Elkhart    NJ  oehmmf    jvxazi
834   27597         Hattiesburg    NJ  yvqmsw    jworei
6      8075           Riverside    NJ    Jack    Repici
0      8075           Riverside    NJ    John       Doe
134   71495            Puyallup    NJ  sknouo    pthocm
246   52435             Visalia    NJ  rlnymk    akfcvs
490   32779          Greenfield    NJ  uhrdit    ctuzna
757   14098     Rochester Hills    NC  cgwfnt    ewsgbc
674   30266        Wilkes-Barre    ID  lbhhea    zdrutq
172   28538              Sparks    NC  gvuwfl    cawqsg
412   53091               Provo    NC  uvppfv    awxhll
128   64788         Miami Beach    NC  xodhgh    whgfmx
830   20378           Texarkana    DE  bcquez    sqphaa
56    79000              Salina    WY  vjjllv    pxitjx
845   78034           Texarkana    OR  ykqwbt    gasxdf
584   62938            Danville    GA  twtdwj    gjbwhz
840   99679                Napa    MD  glisax    iebxyg
969   13740          Middletown    IN  xgznvs    fpbmmi
912   68783            Pasadena    WA  kxlbsz    xsnqyl
870   24916             Atlanta    NE  swskwt    ueeiyu
243   58403          High Point    NC  jmwblu    uhjnlg
307   55444       Laguna Niguel    IL  jnumih    dglibn
35    57891             Chicago    DC  xaiytb    ftiejh
76    15386       Wichita Falls    WI  jkcxeg    ibonvz
45    76549           Elk Grove    CA  uqwhcx    exaipo
574   29840         Morgan Hill    ME  uuwaha    xnbwbl
174   45487      Spokane Valley    TN  wepsev    ugheth
466   91581            Shakopee    SC  mupzfk    gbwedn
878   43760           Fairfield    FL  qbjkha    dltpzf
560   83639        Huntersville    KY  wqvpkl    webtfz
533   14244           Corvallis    IN  lxrojr    qzvffx
370   60785             Anaheim    FL  lunnun    oialqe
901   24818             El Paso    MT  avakhq    zvupib
373   74726               Indio    MI  nhaovy    hzfdqk
819   88642      Mount Pleasant    ID  eusesb    ngpbxu
884   19125   North Little Rock    NH  qrvjfq    gjvzmg
42    88373      Council Bluffs    VT  hhvyzt    edceze
167   97497                 Roy    NH  sxzhih    akfuqj
441   32996          Round Rock    MT  rgwumr    hnjxvu
270   25322            Berkeley    MT  lryjio    hssdhs
425   38535          Louisville    MS  atmtij    kzznkm
242   41147            Lakewood    IL  cjftgv    vgcibe
632   31189        Broken Arrow    ID  wdtrbj    kxdecz
935   86694             Margate    DC  aeprhd    wuoupw
542   74008           Elizabeth    MT  enpjqm    malsms
622   23656           Texarkana    TN  zmucwt    qgciie
473   21178             El Paso    DC  egbyzq    liyiyc
344   11990               Lacey    UT  fwzjiu    vnterv
987   87690           Haverhill    CA  koizba    ufloml
328   35557               Tulsa    SD  qbprgm    yfnexm
932   32499         Morgan Hill    NC  qwozlv    edwyyq
988   78733     West Des Moines    CA  cgcmsk    epkghn
304   44042          Cape Coral    DC  onxzhl    lizgux
647   14402              Dothan    AZ  azuvjf    auvwon
786   80010              Novato    LA  clenok    zmgkyz
492   77233           Pocatello    IL  gtlqch    ombqex
605   22113     Prescott Valley    ID  yuegvr    irympx
214   67713            Lakewood    OH  yewdjo    yxilyj
883   92558         New Bedford    WA  vqbpcj    gdxlym
891   78615            Hamilton    IN  okadya    ytydxv
952   58635          Hagerstown    AL  kmtugg    ksbyzc
476   93909          Georgetown    OR  pchajp    lujqky
617   75351             Modesto    ID  xigvqt    tljgsn
321   87192            Westland    MN  rvnaie    qqraqi
394   84455        Carol Stream    WA  akkcgk    dwvsus
265   43236          Shreveport    IN  hkxwdw    oaqxiu
940   25283              Norman    KY  wzlcrb    rrpmhr
103   71403              Beloit    SD  rigcqp    bichdn
824   94656                 Roy    DE  agcsgr    guepug
798   74365       Miami Gardens    PA  wfjuwx    qsiehe
956   43748     Charlottesville    MT  lkjfby    vtazud
795   13541         Albuquerque    ME  yimovg    hfgvyj
829   64922    Huntington Beach    MN  pqmxco    rnfjfl
222   49157            Columbus    ID  ydtvie    lvwzip
511   95007      Bonita Springs    NC  myzxdf    kqyqek
919   33977           Royal Oak    DC  gbfidn    jihqjh
524   79775            Lawrence    ME  dkfdsm    gqzubx
893   11151    Lake Havasu City    VT  lmwnko    nuurpx
872   93433             Roswell    CA  thonzl    pturol
721   73609            Columbus    MD  fxoerd    dnylcb
982   42385          Rio Rancho    SD  gcdktw    pgdmjn
224   72156          The Colony    NC  prpqon    flxkdj
641   19472        Huntersville    IL  dffkhp    xbqabr
54    68110           Bountiful    ND  mpcwkl    ysfejv
971   74006         Little Rock    KS  msukvy    orlqng
869   44065             Hialeah    NV  owqhnt    lkbufn
229   95796             Tamarac    NE  migqle    xbxnnj
266   72061            Stockton    TN  dxaxbb    jqczmj
747   85206         Beavercreek    WA  gdnibf    ipwagx
714   36772           Lafayette    IN  bbfqcb    ltfhig
396   16573             Hanford    OR  bykexs    fuylit
465   41223         San Jacinto    ND  nxbnnh    qofigf
377   54135            Mesquite    FL  qvkhtk    hwkcxy
44    96009          Charleston    OR  rvuodp    sichns
131   37686             Meriden    AL  chzpiw    babukv
736   64235        Mount Vernon    LA  hcwszi    ywkynv
835   49711  Hilton Head Island    WA  atwrjb    tsprxq
578   71915           Sheboygan    IL  zqxaoj    naocdv
794   35100             Concord    MN  jrelpx    hbhlsu
596   18117         Bentonville    WA  eccpnl    hfkgru
51    18092           Bountiful    NC  okvvgf    rtkymp
324   58228         Victorville    UT  uubeyf    klmopo
944   16748        Ormond Beach    ND  mlzvxu    ekhkwb
284   88621             Olympia    IN  hklhcc    stslge
609   81836         Minneapolis    NC  msbycw    vwpcwh
611   27094              Canton    WA  hvlltt    aqresk
950   89426     Fort Lauderdale    MN  kzvozt    kopkhn
903   72078       Moreno Valley    TX  zgcimr    vqlxph
804   25545           Cleveland    PA  boymfq    ofkerr
109   55756      San Bernardino    WY  yopryl    nikocq
857   57245          San Rafael    NH  nryhjg    vgyuts
790   20044           Westfield    CA  zemawc    gdlqvp
737   10978           St. Louis    MT  jvwbrl    jwpyra
379   11658          Fort Myers    KS  jsmxqq    nejpec
311   99272                Apex    DC  uvgfdv    wmzkry
83    25934           Green Bay    AL  iigmbn    tzrqsw
194   84396                Bend    OH  mnbcnn    aaluxp
1006  80614              Temple    CA  itumzq    habtcd
858   24750             Cypress    WA  bnesix    fxtzif
780   72683             Manteca    NH  gzhxnu    ywtiwd
110   63995          Birmingham    MD  lxwber    axlwtj
285   92373           Bethlehem    DC  mfgypy    epphkv
791   33211            Bartlett    PA  rmilrd    whpybs
126   41177            Woodbury    TN  hydoze    ejwkrk
569   10240             Clifton    FL  yercwj    juqiln
826   76085         Bentonville    NH  tgypxi    sigwht
868   78832           Montclair    ID  xptieg    wvkdos
1004  26158           St. Louis    ME  firtbg    lhyfil
680   91280            Whittier    CO  whopei    gnkloa
947   83934            Bartlett    SD  jkmhpv    jfoyrk
759   46934          Harrisburg    NH  zqjyqb    apqfbi
495   48224           Lancaster    OK  ujzdcs    pceuqe
684   63332          West Haven    FL  ytbnse    kqcvly
606   38394           Rock Hill    CA  jbnqki    qvuojl
618   75911      Virginia Beach    ID  ttczfo    krldcg
137   39435          Georgetown    IN  wzmcgn    yxeqjc
598   26154           Charlotte    AL  gntdot    ectsae
520   68652       Coeur d'Alene    MD  prthsd    dildjk
961   53690            Lawrence    VT  ujilgd    shymrf
61    87680                 Roy    IN  ovtauw    ndxiaq
527   18710             Tamarac    NC  bohvch    ftvlro
25    55916           Coachella    NC  mloxrl    gueiyk
390   84319       Grand Prairie    AZ  aeetvb    rkrknz
378   84210            Chandler    OK  ekkurv    bfyeqb
5       123              Denver    CO    Joan      Anne
897   81702         Santa Maria    OH  fobmnm    fcdxtp
580   51222             Hayward    ME  grtkkv    pzaonl
525   19441       New Braunfels    MA  lclapx    rprobw
698   59391            Caldwell    PA  qarptr    ogwiof
251   59107        Bossier City    WI  cbndid    okyqcr
720   67867               Chico    AL  joalrc    fjzgeh
886   33097      Jefferson City    IL  siugnf    qcygvb
108   64248                Napa    PA  zijqmh    hrloek
655   47615            Whittier    MD  ptagsq    eogfcw
967   55192       Oklahoma City    IA  hpzmwg    yvdcjb
504   60572                Lodi    FL  nzcnos    icsnvx
863   85303                Gary    PA  epjkdm    nyfpjx
1001  55062       Wichita Falls    OH  iboebr    qbuejz
262   22614         Port Orange    KY  giyhxy    kyznvz
41    95984              Carmel    ME  gemdsz    uelvhl
80    79409           Pawtucket    PA  jhixlm    ombotq
259   32651      Mount Pleasant    NH  cakwdg    tkhklc
633   27378         Westminster    PA  plydif    stuidx
577   42739      Grand Junction    NH  lkvjty    locdrw
905   43616              Denton    NY  yejwuw    nysxle
427   91081              Euclid    TN  xnofar    lybtzr
81    70165            Wheeling    WI  zixcko    zgdsuc
4       298         Sioux Falls    SD    John  Blankman
909   15244             Compton    FL  hfbsuj    dzxuiv
913   12344             Bedford    ME  lxhvrc    hhnily
532   10362            Hartford    MA  kcqqsk    kbenxs
767   77154        Delray Beach    TN  wgujvl    fwylmy
12    21071               Allen    CA  tleups    sqkweg
784   57105      Citrus Heights    IN  suwstj    muvuel
564   37268                Brea    LA  zqpkfu    zxeily
147   46569        Strongsville    VT  gcqdui    hmbtrw
351   63222             Coppell    CO  memwmn    rdvasb
549   87750          Somerville    AL  xratdr    dasbra
29    60425           Bradenton    MN  tjnbpr    qkylzh
478   36543              Folsom    TX  qmwmet    gkjuqx
228   24721           Bethlehem    IL  nenfhf    gevstf
326   74942            Campbell    UT  hqiahx    gigkpg

In [12]:
vec_state_NJ = hdDB.columns['state']['NJ']
query_vec_state_NJ = torchhd.bind(hdDB.columns['state'].atomic_vector, vec_state_NJ)
results = hdDB.most_similar_rows(query_vec_state_NJ, 200)
print(results)
print(df.iloc[[t[0] for t in results]])

[(205, 0.6974999904632568), (764, 0.6948000192642212), (875, 0.6922000050544739), (896, 0.6920999884605408), (127, 0.6908000111579895), (579, 0.6906999945640564), (383, 0.6901999711990356), (918, 0.6891000270843506), (814, 0.6884999871253967), (36, 0.6880999803543091), (196, 0.6868000030517578), (297, 0.6868000030517578), (712, 0.6866999864578247), (980, 0.6863999962806702), (169, 0.6855999827384949), (601, 0.6837000250816345), (831, 0.6836000084877014), (2, 0.6836000084877014), (240, 0.6834999918937683), (834, 0.6819999814033508), (6, 0.6819999814033508), (0, 0.6819000244140625), (134, 0.6819000244140625), (246, 0.6798999905586243), (490, 0.6791999936103821), (757, 0.5170999765396118), (674, 0.5148000121116638), (172, 0.5145000219345093), (412, 0.5134000182151794), (128, 0.5133000016212463), (830, 0.5131000280380249), (56, 0.5131000280380249), (845, 0.5127999782562256), (584, 0.5126000046730042), (840, 0.512499988079071), (969, 0.512499988079071), (912, 0.5120000243186951), (870, 0.511900007724762), (243, 0.5113999843597412), (307, 0.5113000273704529), (35, 0.5109000205993652), (76, 0.510699987411499), (45, 0.5105999708175659), (574, 0.5105000138282776), (174, 0.5105000138282776), (466, 0.5102999806404114), (878, 0.5101000070571899), (560, 0.5099999904632568), (533, 0.5098999738693237), (370, 0.5098000168800354), (901, 0.5098000168800354), (373, 0.5097000002861023), (819, 0.5095000267028809), (884, 0.5094000101089478), (42, 0.5092999935150146), (167, 0.5092999935150146), (441, 0.5092999935150146), (270, 0.5091999769210815), (425, 0.5091999769210815), (242, 0.5091000199317932), (632, 0.5090000033378601), (935, 0.5090000033378601), (542, 0.508899986743927), (622, 0.5088000297546387), (473, 0.5087000131607056), (344, 0.5087000131607056), (987, 0.5087000131607056), (328, 0.5085999965667725), (932, 0.508400022983551), (988, 0.508400022983551), (304, 0.508400022983551), (647, 0.508400022983551), (786, 0.5083000063896179), (492, 0.5083000063896179), (605, 0.5083000063896179), (214, 0.5080999732017517), (883, 0.5080999732017517), (891, 0.5080999732017517), (952, 0.5080000162124634), (476, 0.5080000162124634), (617, 0.5080000162124634), (321, 0.5080000162124634), (394, 0.5080000162124634), (265, 0.5080000162124634), (940, 0.5078999996185303), (103, 0.5077999830245972), (824, 0.5077999830245972), (798, 0.5077999830245972), (956, 0.5077000260353088), (795, 0.5077000260353088), (829, 0.5076000094413757), (222, 0.5076000094413757), (511, 0.5076000094413757), (919, 0.5074999928474426), (524, 0.5074999928474426), (893, 0.5074999928474426), (872, 0.5074999928474426), (721, 0.5073999762535095), (982, 0.5073999762535095), (224, 0.5073000192642212), (641, 0.5073000192642212), (54, 0.5072000026702881), (971, 0.5072000026702881), (869, 0.5072000026702881), (229, 0.507099986076355), (266, 0.507099986076355), (747, 0.507099986076355), (714, 0.507099986076355), (396, 0.507099986076355), (465, 0.5070000290870667), (377, 0.5070000290870667), (44, 0.5070000290870667), (131, 0.5070000290870667), (736, 0.5069000124931335), (835, 0.5069000124931335), (578, 0.5069000124931335), (794, 0.5069000124931335), (596, 0.5069000124931335), (51, 0.5069000124931335), (324, 0.5067999958992004), (944, 0.5067999958992004), (284, 0.5066999793052673), (609, 0.5066999793052673), (611, 0.5066999793052673), (950, 0.5066999793052673), (903, 0.506600022315979), (804, 0.506600022315979), (109, 0.506600022315979), (857, 0.506600022315979), (790, 0.5063999891281128), (737, 0.5063999891281128), (379, 0.5063999891281128), (311, 0.5063999891281128), (83, 0.5063999891281128), (194, 0.5062999725341797), (1006, 0.5062000155448914), (858, 0.5062000155448914), (780, 0.5062000155448914), (110, 0.5062000155448914), (285, 0.5060999989509583), (791, 0.5060999989509583), (126, 0.5060999989509583), (569, 0.5060999989509583), (826, 0.5060999989509583), (868, 0.5060999989509583), (1004, 0.5060999989509583), (680, 0.5060999989509583), (947, 0.5060999989509583), (759, 0.5059999823570251), (495, 0.5059999823570251), (684, 0.5059999823570251), (606, 0.5059999823570251), (618, 0.5059000253677368), (137, 0.5059000253677368), (598, 0.5059000253677368), (520, 0.5058000087738037), (961, 0.5058000087738037), (61, 0.5058000087738037), (527, 0.5058000087738037), (25, 0.5058000087738037), (390, 0.5056999921798706), (378, 0.5056999921798706), (5, 0.5056999921798706), (897, 0.5056999921798706), (580, 0.5056999921798706), (525, 0.5056999921798706), (698, 0.5055000185966492), (251, 0.5055000185966492), (720, 0.5055000185966492), (886, 0.5055000185966492), (108, 0.5055000185966492), (655, 0.5054000020027161), (967, 0.5054000020027161), (504, 0.5054000020027161), (863, 0.5054000020027161), (1001, 0.5054000020027161), (262, 0.5054000020027161), (41, 0.505299985408783), (80, 0.505299985408783), (259, 0.505299985408783), (633, 0.505299985408783), (577, 0.505299985408783), (905, 0.5052000284194946), (427, 0.5052000284194946), (81, 0.5052000284194946), (4, 0.5052000284194946), (909, 0.5052000284194946), (913, 0.5052000284194946), (532, 0.5051000118255615), (767, 0.5051000118255615), (12, 0.5051000118255615), (784, 0.5049999952316284), (564, 0.5049999952316284), (147, 0.5049999952316284), (351, 0.5049999952316284), (549, 0.5049999952316284), (29, 0.5049999952316284), (478, 0.5049999952316284), (228, 0.5049999952316284), (326, 0.5048999786376953)]
       zip         city state   fname   lname
205  75008  Goose Creek    NJ  vdnftd  vgevjl
764  43017     Valdosta    NJ  vzuwhj  bquhnq
875  89187    Littleton    NJ  yghval  nskwnl
896  94116    Mansfield    NJ  ksassf  ckuykg
127  68883      Suffolk    NJ  srbikh  gzxpfq
..     ...          ...   ...     ...     ...
549  87750   Somerville    AL  xratdr  dasbra
29   60425    Bradenton    MN  tjnbpr  qkylzh
478  36543       Folsom    TX  qmwmet  gkjuqx
228  24721    Bethlehem    IL  nenfhf  gevstf
326  74942     Campbell    UT  hqiahx  gigkpg

[200 rows x 5 columns]

In [13]:
vec_zip_85301 = hdDB.columns['zip']['91234']
query_vec_zip_85301 = torchhd.bind(hdDB.columns['zip'].atomic_vector, vec_zip_85301)
results = hdDB.most_similar_rows(query_vec_zip_85301, 200)
print(results)
print(df.iloc[[t[0] for t in results]])

[(3, 0.6917999982833862), (834, 0.5163000226020813), (400, 0.5148000121116638), (883, 0.5139999985694885), (50, 0.5133000016212463), (875, 0.5133000016212463), (551, 0.5131000280380249), (164, 0.5130000114440918), (1001, 0.512499988079071), (209, 0.5120000243186951), (679, 0.5120000243186951), (76, 0.5120000243186951), (304, 0.511900007724762), (241, 0.5117999911308289), (307, 0.5116000175476074), (984, 0.5115000009536743), (958, 0.5115000009536743), (563, 0.5110999941825867), (406, 0.5109999775886536), (899, 0.5109999775886536), (183, 0.5109999775886536), (718, 0.5108000040054321), (501, 0.5105999708175659), (423, 0.5105000138282776), (218, 0.510200023651123), (228, 0.5101000070571899), (206, 0.5101000070571899), (483, 0.5099999904632568), (915, 0.5098999738693237), (584, 0.5098999738693237), (127, 0.5098999738693237), (654, 0.5098000168800354), (906, 0.5098000168800354), (302, 0.5098000168800354), (176, 0.5098000168800354), (385, 0.5098000168800354), (938, 0.5097000002861023), (376, 0.5095999836921692), (280, 0.5095999836921692), (990, 0.5095999836921692), (622, 0.5095000267028809), (885, 0.5094000101089478), (890, 0.5092999935150146), (312, 0.5092999935150146), (985, 0.5091000199317932), (387, 0.5090000033378601), (887, 0.5090000033378601), (72, 0.508899986743927), (342, 0.508899986743927), (904, 0.508899986743927), (997, 0.508899986743927), (694, 0.5088000297546387), (732, 0.5087000131607056), (446, 0.5087000131607056), (735, 0.5087000131607056), (174, 0.5085999965667725), (369, 0.5085999965667725), (178, 0.5084999799728394), (413, 0.5084999799728394), (427, 0.5084999799728394), (587, 0.508400022983551), (43, 0.5083000063896179), (330, 0.5083000063896179), (805, 0.5081999897956848), (49, 0.5081999897956848), (443, 0.5081999897956848), (217, 0.5080999732017517), (340, 0.5080999732017517), (356, 0.5080000162124634), (601, 0.5080000162124634), (600, 0.5078999996185303), (405, 0.5078999996185303), (962, 0.5077999830245972), (75, 0.5077999830245972), (644, 0.5077000260353088), (370, 0.5077000260353088), (440, 0.5077000260353088), (102, 0.5076000094413757), (897, 0.5076000094413757), (318, 0.5074999928474426), (296, 0.5074999928474426), (835, 0.5073999762535095), (640, 0.5073999762535095), (263, 0.5073999762535095), (939, 0.5073000192642212), (810, 0.5073000192642212), (905, 0.5073000192642212), (574, 0.5072000026702881), (288, 0.5072000026702881), (504, 0.507099986076355), (98, 0.507099986076355), (528, 0.507099986076355), (250, 0.5070000290870667), (363, 0.5070000290870667), (611, 0.5070000290870667), (213, 0.5069000124931335), (169, 0.5069000124931335), (478, 0.5069000124931335), (764, 0.5069000124931335), (31, 0.5069000124931335), (941, 0.5067999958992004), (910, 0.5067999958992004), (749, 0.5067999958992004), (516, 0.5066999793052673), (553, 0.5066999793052673), (778, 0.5066999793052673), (870, 0.506600022315979), (989, 0.506600022315979), (454, 0.5065000057220459), (620, 0.5065000057220459), (930, 0.5063999891281128), (35, 0.5063999891281128), (17, 0.5063999891281128), (15, 0.5063999891281128), (81, 0.5062999725341797), (496, 0.5062999725341797), (470, 0.5062999725341797), (488, 0.5062000155448914), (334, 0.5062000155448914), (115, 0.5062000155448914), (343, 0.5060999989509583), (70, 0.5060999989509583), (388, 0.5059999823570251), (531, 0.5059999823570251), (876, 0.5059999823570251), (126, 0.5059999823570251), (676, 0.5059999823570251), (240, 0.5059999823570251), (375, 0.5059000253677368), (655, 0.5059000253677368), (243, 0.5059000253677368), (608, 0.5059000253677368), (980, 0.5059000253677368), (38, 0.5059000253677368), (92, 0.5059000253677368), (800, 0.5058000087738037), (995, 0.5058000087738037), (896, 0.5058000087738037), (820, 0.5058000087738037), (761, 0.5056999921798706), (801, 0.5056999921798706), (652, 0.5056999921798706), (884, 0.5056999921798706), (705, 0.5056999921798706), (979, 0.5055000185966492), (401, 0.5055000185966492), (907, 0.5055000185966492), (912, 0.5055000185966492), (595, 0.5055000185966492), (572, 0.5055000185966492), (756, 0.5054000020027161), (916, 0.505299985408783), (60, 0.505299985408783), (799, 0.505299985408783), (24, 0.505299985408783), (792, 0.505299985408783), (480, 0.5052000284194946), (418, 0.5052000284194946), (745, 0.5052000284194946), (568, 0.5052000284194946), (507, 0.5052000284194946), (848, 0.5052000284194946), (348, 0.5052000284194946), (300, 0.5052000284194946), (68, 0.5051000118255615), (548, 0.5051000118255615), (658, 0.5051000118255615), (83, 0.5051000118255615), (775, 0.5051000118255615), (177, 0.5049999952316284), (220, 0.5049999952316284), (558, 0.5049999952316284), (537, 0.5049999952316284), (842, 0.5048999786376953), (731, 0.5048999786376953), (141, 0.5048999786376953), (239, 0.504800021648407), (623, 0.504800021648407), (626, 0.504800021648407), (861, 0.504800021648407), (210, 0.504800021648407), (1002, 0.504800021648407), (303, 0.5047000050544739), (518, 0.5047000050544739), (685, 0.5045999884605408), (129, 0.5045999884605408), (539, 0.5045999884605408), (785, 0.5045999884605408), (158, 0.5045999884605408), (63, 0.5044000148773193), (433, 0.5044000148773193), (840, 0.5044000148773193), (678, 0.5044000148773193), (894, 0.5044000148773193), (12, 0.5044000148773193), (684, 0.5042999982833862), (226, 0.5042999982833862), (105, 0.5042999982833862), (638, 0.5042999982833862), (621, 0.5042999982833862)]
       zip         city state    fname   lname
3    91234  Sioux Falls    SD  Stephen   Tyler
834  27597  Hattiesburg    NJ   yvqmsw  jworei
400  12291    Mansfield    SC   dpigdp  wbhpmy
883  92558  New Bedford    WA   vqbpcj  gdxlym
50   88155        Tempe    AK   fdllow  xyofnx
..     ...          ...   ...      ...     ...
684  63332   West Haven    FL   ytbnse  kqcvly
226  96347   St. George    CO   lnpwjd  dvvybs
105  84572        Tulsa    CO   ndezmf  skuqda
638  84757      Anaheim    CT   sdbmww  txqyht
621  59964      Milford    NY   bmrnck  ajbxxb

[200 rows x 5 columns]

In [14]:
vec_fname_john = hdDB.columns['fname']['John']
query_vec_fname_john = torchhd.bind(hdDB.columns['fname'].atomic_vector, vec_fname_john)
results = hdDB.most_similar_rows(query_vec_fname_john, 200)
print(results)
print(df.iloc[[t[0] for t in results]])

[(0, 0.6908000111579895), (2, 0.6897000074386597), (4, 0.6869000196456909), (254, 0.5169000029563904), (71, 0.5141000151634216), (588, 0.5141000151634216), (675, 0.5131999850273132), (896, 0.5130000114440918), (620, 0.5127000212669373), (958, 0.5123000144958496), (390, 0.5121999979019165), (885, 0.5116000175476074), (525, 0.5112000107765198), (292, 0.5110999941825867), (817, 0.5110999941825867), (849, 0.5109999775886536), (528, 0.510699987411499), (665, 0.5105999708175659), (228, 0.5105000138282776), (789, 0.5105000138282776), (987, 0.5103999972343445), (796, 0.5099999904632568), (329, 0.5098999738693237), (65, 0.5098999738693237), (103, 0.5098999738693237), (110, 0.5098999738693237), (30, 0.5098000168800354), (317, 0.5097000002861023), (862, 0.5097000002861023), (130, 0.5095999836921692), (700, 0.5095000267028809), (842, 0.5095000267028809), (31, 0.5092999935150146), (284, 0.5091999769210815), (1003, 0.5091000199317932), (575, 0.5091000199317932), (100, 0.5091000199317932), (238, 0.5090000033378601), (772, 0.508899986743927), (52, 0.508899986743927), (731, 0.508899986743927), (55, 0.508899986743927), (137, 0.5088000297546387), (538, 0.5087000131607056), (669, 0.5087000131607056), (788, 0.5085999965667725), (256, 0.508400022983551), (577, 0.508400022983551), (435, 0.5083000063896179), (311, 0.5083000063896179), (328, 0.5083000063896179), (808, 0.5083000063896179), (266, 0.5081999897956848), (102, 0.5081999897956848), (581, 0.5081999897956848), (755, 0.5081999897956848), (215, 0.5081999897956848), (322, 0.5080999732017517), (413, 0.5080999732017517), (220, 0.5080000162124634), (129, 0.5080000162124634), (35, 0.5080000162124634), (490, 0.5078999996185303), (520, 0.5078999996185303), (539, 0.5077999830245972), (307, 0.5077999830245972), (383, 0.5077000260353088), (151, 0.5077000260353088), (337, 0.5077000260353088), (792, 0.5077000260353088), (836, 0.5076000094413757), (602, 0.5076000094413757), (290, 0.5074999928474426), (121, 0.5074999928474426), (678, 0.5073999762535095), (430, 0.5073999762535095), (315, 0.5073000192642212), (95, 0.5073000192642212), (50, 0.5073000192642212), (748, 0.5073000192642212), (396, 0.5072000026702881), (63, 0.5072000026702881), (325, 0.5072000026702881), (912, 0.507099986076355), (708, 0.507099986076355), (779, 0.507099986076355), (34, 0.5070000290870667), (167, 0.5070000290870667), (680, 0.5070000290870667), (935, 0.5069000124931335), (795, 0.5067999958992004), (56, 0.5067999958992004), (936, 0.5067999958992004), (775, 0.5066999793052673), (723, 0.5066999793052673), (590, 0.5066999793052673), (952, 0.5066999793052673), (813, 0.506600022315979), (17, 0.506600022315979), (246, 0.506600022315979), (131, 0.5065000057220459), (92, 0.5065000057220459), (650, 0.5065000057220459), (834, 0.5065000057220459), (262, 0.5065000057220459), (427, 0.5065000057220459), (58, 0.5065000057220459), (881, 0.5065000057220459), (696, 0.5063999891281128), (118, 0.5063999891281128), (554, 0.5063999891281128), (227, 0.5062999725341797), (739, 0.5062999725341797), (673, 0.5062999725341797), (364, 0.5062999725341797), (20, 0.5062999725341797), (774, 0.5062999725341797), (686, 0.5062999725341797), (770, 0.5062000155448914), (757, 0.5062000155448914), (927, 0.5062000155448914), (49, 0.5062000155448914), (527, 0.5060999989509583), (914, 0.5060999989509583), (915, 0.5060999989509583), (802, 0.5060999989509583), (423, 0.5060999989509583), (132, 0.5059999823570251), (149, 0.5059999823570251), (822, 0.5059999823570251), (990, 0.5059999823570251), (353, 0.5059999823570251), (229, 0.5059999823570251), (632, 0.5059000253677368), (46, 0.5059000253677368), (112, 0.5059000253677368), (759, 0.5059000253677368), (599, 0.5059000253677368), (389, 0.5059000253677368), (374, 0.5059000253677368), (372, 0.5058000087738037), (428, 0.5058000087738037), (452, 0.5058000087738037), (530, 0.5056999921798706), (202, 0.5056999921798706), (299, 0.5056999921798706), (424, 0.5055999755859375), (468, 0.5055999755859375), (84, 0.5055999755859375), (140, 0.5055999755859375), (400, 0.5055999755859375), (356, 0.5055999755859375), (519, 0.5055000185966492), (57, 0.5055000185966492), (465, 0.5055000185966492), (174, 0.5054000020027161), (524, 0.5054000020027161), (459, 0.5054000020027161), (247, 0.5054000020027161), (21, 0.5054000020027161), (571, 0.5054000020027161), (886, 0.5054000020027161), (133, 0.505299985408783), (442, 0.505299985408783), (884, 0.505299985408783), (996, 0.505299985408783), (955, 0.5052000284194946), (245, 0.5052000284194946), (39, 0.5052000284194946), (433, 0.5052000284194946), (308, 0.5052000284194946), (385, 0.5052000284194946), (316, 0.5052000284194946), (501, 0.5052000284194946), (405, 0.5051000118255615), (576, 0.5051000118255615), (327, 0.5051000118255615), (566, 0.5051000118255615), (33, 0.5051000118255615), (749, 0.5049999952316284), (542, 0.5049999952316284), (363, 0.5049999952316284), (667, 0.5049999952316284), (857, 0.5048999786376953), (639, 0.5048999786376953), (11, 0.5048999786376953), (304, 0.5048999786376953), (832, 0.5048999786376953), (644, 0.5048999786376953), (655, 0.5048999786376953), (421, 0.504800021648407), (289, 0.504800021648407), (921, 0.504800021648407), (474, 0.5047000050544739), (939, 0.5047000050544739), (70, 0.5047000050544739), (737, 0.5047000050544739), (340, 0.5047000050544739), (342, 0.5047000050544739), (45, 0.5047000050544739)]
       zip         city state   fname     lname
0     8075    Riverside    NJ    John       Doe
2     8075    Riverside    NJ    John    Repici
4      298  Sioux Falls    SD    John  Blankman
254  65386     Kirkland    TX  wmkzhn    ednlzt
71   98045    Cambridge    HI  jmwztp    itzoyk
..     ...          ...   ...     ...       ...
70   66359    Brentwood    MT  uxgpnb    zdyyhw
737  10978    St. Louis    MT  jvwbrl    jwpyra
340  87908  Sioux Falls    PA  rtncrg    sntabd
342  55291        Parma    AK  cdibwp    ziufby
45   76549    Elk Grove    CA  uqwhcx    exaipo

[200 rows x 5 columns]

In [15]:
vec_lastname_repici = hdDB.columns['lname']['Blankman']
query_vec_lastname_repici = torchhd.bind(hdDB.columns['lname'].atomic_vector, vec_lastname_repici)
results = hdDB.most_similar_rows(query_vec_lastname_repici, 10)
print(results)
print(df.iloc[[t[0] for t in results]])

[(4, 0.6881999969482422), (589, 0.5163000226020813), (363, 0.5149000287055969), (308, 0.5146999955177307), (687, 0.51419997215271), (798, 0.5139999985694885), (983, 0.513700008392334), (944, 0.5131999850273132), (193, 0.5131999850273132), (774, 0.5127999782562256)]
       zip              city state   fname     lname
4      298       Sioux Falls    SD    John  Blankman
589  88246           Hanford    VA  hutogm    zjlxhf
363  60139          Goodyear    AK  qihkea    sajhes
308  85980              Yuma    NH  gbqtrr    cixxuz
687  18474  Farmington Hills    WI  gwsmdh    tfwgvh
798  74365     Miami Gardens    PA  wfjuwx    qsiehe
983  32825    Port St. Lucie    WI  dvdfuq    pkqciz
944  16748      Ormond Beach    ND  mlzvxu    ekhkwb
193  55047       Baton Rouge    VA  ikpuhs    drmjgj
774  39363        Scottsdale    OH  jytfvm    cmokqb

In [16]:
jack_repici_vec = hdDB[6]
# t = torchhd.inverse(hdDB.columns['state'].atomic_vector)

# unbinding to obtain the state that Jack Repici lives in
jack_repici_state_vec = torchhd.bind(jack_repici_vec, torchhd.inverse(hdDB.columns['state'].atomic_vector))
print(sim_func(jack_repici_state_vec, hdDB.columns['state']['NJ']))
print(sim_func(jack_repici_state_vec, hdDB.columns['state']['PA']))

query_vec_jack_repici_state = torchhd.bind(hdDB.columns['state'].atomic_vector, jack_repici_state_vec)
query_vec = torchhd.bundle(query_vec_jack_repici_state, query_vec_lastname_repici)
results = hdDB.most_similar_rows(query_vec, 10)
print(results)
print(df.iloc[[t[0] for t in results]])

BSCTensor(0.6820)
BSCTensor(0.5011)
[(6, 0.7552000284194946), (2, 0.6656000018119812), (0, 0.611299991607666), (4, 0.5907999873161316), (980, 0.5428000092506409), (918, 0.5425000190734863), (875, 0.5375999808311462), (36, 0.5371000170707703), (169, 0.5364000201225281), (383, 0.5361999869346619)]
       zip         city state   fname     lname
6     8075    Riverside    NJ    Jack    Repici
2     8075    Riverside    NJ    John    Repici
0     8075    Riverside    NJ    John       Doe
4      298  Sioux Falls    SD    John  Blankman
980  63187    Annapolis    NJ  obfnxq    emhqwh
918  81564       Joplin    NJ  kmihgj    lkmnlv
875  89187    Littleton    NJ  yghval    nskwnl
36   94775  Sioux Falls    NJ  odccur    hukwza
169  79782    Lancaster    NJ  ytjujj    mwravs
383  88908     Columbia    NJ  ykslly    wntxrw

In [17]:
import math

def theoretical_similarity(amount_bundled):
    amount_bundled = amount_bundled + 1 if amount_bundled % 2 == 0 else amount_bundled # +1 because we need an odd amount of elements
    expected_similarity = 1/2 + (math.comb(amount_bundled-1, (amount_bundled-1)//2) * .5**amount_bundled)
    return expected_similarity


print(theoretical_similarity(3))
print(theoretical_similarity(5))  
print(theoretical_similarity(7))

0.75
0.6875
0.65625